@charset "UTF-8";

html{
	font-family: 'ChosunGu';	
}

.sub_package_wrap{
	display: flex;
	justify-content: center;
	border: 0;
	background-color: #F4F4F4;
	border-radius: 3px;
	padding: 10px;
	color: #B6B6B6;
	margin-top: 20px;
	font-weight: 600;
	width: 300px;
}

#sub_info_main{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.sub_info_deli_title{
	margin: 20px 0;
	color: #FFC000;
	font-weight: 600;
	font-size: 1.5em;
	
}

.package_wrap > span {
	display: block;
    text-align: center;
	margin-top: 30px;
	font-size: 1.2em;
	font-weight: 600;
	color: #B2B2B2;
}

.sub_package_left{
}

.sub_package_right{
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 10px;
    align-items: flex-end;
    width: 500px;
}

.sub_package_left > img {
	width: 100%;
}

.sub_package_price{
	font-size: 13px;
}

.delivery_wrap{
	text-align: right;
	margin-top:10px;
	width: 300px;
}

.sub_pay_btn{
	margin: 30px;
	font-family: 'ChosunGu';
	border-radius : 5px;
	background-color: #FFD166;
	color: white;
	font-weight: bold;
}

.sub_pay_btn:hover{
	background-color: #FFBD52;
	cursor: pointer;
}

