@charset "UTF-8";
@import url("reset.css");
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#main {
	background-image: url('../image/main.png');
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

ul {
	text-align: center;
}

li {
	list-style: none;
}

#btn {
	position: absolute;
	width:100%;
	top: 350px;
    right: 65px;
}

.inputBtn {
	box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-color: rgba(255,255,255,0);
    position: absolute;
    width: 8em;
    height: 4.5em;
    color: white;
    font-size: 1em;
}

.inputBtn:hover {
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #000000;
	color: black;
}

#title {
	position: absolute;
	top:30%;
	width:100%;
}

.title {
	font-family: 'ChosunCentennial';
	font-style: normal;
	font-weight: 400;
	font-size: 4em;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;
}

.title2{
	font-family: 'ChosunCentennial';
	font-style: normal;
	font-weight: 400;
	font-size: 3.5em;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;
}





/* #btn {
    height: 3em; 애니메이션 높이
    overflow-y: hidden;
    display: block;
}
#btn .inputBtn {
    font-size: 3em;애니메이션 높이
    font-weight: bold;
    line-height: 1;
    animation-name: grow;
    animation-duration: 1s;애니메이션 시간
}
키프레임 애니메이션
@keyframes grow {
    from { transform: translateY(3em) }애니메이션 높이
    to { transform: translateY(0) }
} */
