@charset "UTF-8";


/*************************/
/* tag reset_ 모든 CSS파일에 적용하고 시작!
/*************************/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin: 0; padding: 0; }
html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, code, button {
    font-size: 14px;
    color: #333;
    letter-spacing: -1px;
    line-height: 1.5;
    background: #fff;
    text-shadow: none;
    text-decoration: none;
}
body {
    background: #fff;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

b, h1, h2, h3, h4, h5, strong {
    text-shadow: 0 none;
}

li {
    list-style: none;
}
img, fieldset { border:none; vertical-align:top; }
table { border-spacing:0; border:0; border-collapse:collapse; }
th, td { border:0; vertical-align:middle; }
legend { height:0; width:0; display:none; text-indent:-9999em; }
caption { visibility:hidden; position:absolute; left:-1060px; top:-1060px; height:0; width:0; display:none; }
button { padding:0; margin:0; border:0; cursor:pointer; overflow:visible; }
label { margin:0; padding:0; cursor:pointer; }
select {
    padding: 3px 3px 4px 3px;
    border: 1px solid #ddd;
}

select,
option,
input,
textarea {
    font-size: 100%;
    color: #333;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px;
}
select:focus,
option:focus,
input:focus,
textarea:focus {
    border-color: #007bff;
    color: #007bff;
}


img {
    border: 0;
    margin: 0;
    padding: 0;
}
audio {
    display: none;
}
a,
a:link,
a:active,
a:visited {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: -1px;
    color: #333;
}
a:hover {
    text-decoration: none !important;
    color: #007bff;
}
*:focus {
    outline: none !important;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}
th,td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
table th img,
table td img {
    vertical-align: middle;
}


h1, h2, h3, h4, h5 {
    font-weight: 600;
}

/*===============================================================================*/



/* @import url('https://fonts.googleapis.com/css?family=Yydimibang&display=swap'); */
@font-face {
    font-family: 'kdg_Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 .login_input_wrap_title {
  width: 500px;
  /* color: rgba(64,64,64,0.800000011920929);
  position: absolute;
  top: 321px;
  left: 808px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Yydimibang;
  font-weight: Bold; */
  font-size: 80px;
  opacity: 1;
  text-align: center;
  font-family: 'kdg_Medium';

} 

.login_input_inner_wrap{
	
	/* border: 1px solid; */
	width: 500px;
	
	
}

.input_id{
	width: 440px;
	height: 45px;
}

.input_pw{
	width: 440px;
	height: 45px;
}

.btn_login{
	width: 440px;
	height: 45px;
	
}

.btn_login{
	
	background-color: lightgray;
	width: 470px;
}


.find_wrap{
	
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 470px;
    margin-left: 30px;
	
}


.login_input_wrap{
	
	margin-top: 20%;
    
	
}

.login_input_btn{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
	
}


.find_id_a:hover {
	color: lightgray;
}

.find_pw_a:hover {
	color: lightgray;
}

.join_form_a:hover {
	color: lightgray;
}




    

