@charset "UTF-8";

/*************************/
/* tag reset
/*************************/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin: 0; padding: 0; }
html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, code, button {
    font-size: 14px;
/*     font-family: '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif'; */
    color: #333;
    letter-spacing: -1px;
    line-height: 1.5;
    background: #fff;
    text-shadow: none;
    text-decoration: none;
}
body {
    background: #fff;
}

input:focus, button:focus, textarea:focus {
    outline: none;
}

b, h1, h2, h3, h4, h5, strong {
    text-shadow: 0 none;
}

li {
/*     font-family: '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif'; */
    list-style: none;
}
img, fieldset { border:none; vertical-align:top; }
table { border-spacing:0; border:0; border-collapse:collapse; }
th, td { border:0; vertical-align:middle; }
legend { height:0; width:0; display:none; text-indent:-9999em; }
caption { visibility:hidden; position:absolute; left:-1060px; top:-1060px; height:0; width:0; display:none; }
button { padding:0; margin:0; border:0; cursor:pointer; overflow:visible; }
label { margin:0; padding:0; cursor:pointer; }
select {
    padding: 3px 3px 4px 3px;
    border: 1px solid #ddd;
}

select,
option,
input,
textarea {
    font-size: 100%;
    font-family: '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    color: #333;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px;
}
select:focus,
option:focus,
input:focus,
textarea:focus {
    border-color: #007bff;
    color: #007bff;
}


img {
    border: 0;
    margin: 0;
    padding: 0;
}
audio {
    display: none;
}
a,
a:link,
a:active,
a:visited {
    font-size: 14px;
    font-family: '맑은 고딕', 'Malgun Gothic', 'verdana', '굴림', 'Gulim', 'AppleGothic', 'sans-serif';
    text-decoration: none;
    letter-spacing: -1px;
    color: #333;
}
a:hover {
    text-decoration: none !important;
    color: #007bff;
}
*:focus {
    outline: none !important;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}
th,td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
table th img,
table td img {
    vertical-align: middle;
}


h1, h2, h3, h4, h5 {
    font-weight: 600;
}
/*************************/
/* tag reset end
/*************************/


	
	
	.admin_sub_main_Wrab{
	font-family: 'ChosunGu';
	}
	


	body{
	min-width: 1000px;
	}
	
	.adminProductListTitle{
	font-family: 'ChosunCentennial', sans-serif;
	}
	.adminProductEditListTitle{
	font-family: 'ChosunCentennial', sans-serif;
	}

	.adminWrab{
	font-family: 'ChosunCentennial', sans-serif;
	font-weight: bold;
	font-size: 1em;
	width:100%;
    height: 80px;
    vertical-align: middle;
	}
	
	
	/*a링크태그 전부 해당*/
	.adminWrab a {
	font-family: 'ChosunCentennial', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1.2px 1.2px 2.5px #abaaaa;
	}
	
	/*로고*/
	.adminNav > .logo{
	margin-left: 2%;
	margin-right: 1%;
	}
	
	/*빈 공간 띄우기 용*/
	.adminNav > .admin_navMenu_none{
	width: 49%;
	}

	.adminNav{
	display: flex;
    vertical-align: middle;
    height: 80px;
    box-sizing: border-box;
	}

	/*메뉴 속 메뉴*/
	.adminNav .admin_navMenu .admin_navSubMenuWrab a{
	font-size: 1.2em;
	}
	

	.adminNav>li, ul{
	list-style-type:none;
	}

    .adminNav > .admin_navMenu{
	width: 8%;
	min-width: 105px;
    }
    
    .logo{
    margin-top: 6.5px;
    min-width: 80px;
    }
    
    .adminNav>.admin_navMenu{
	margin-top: 25px;
    }

    .adminNav>li ul{
    display:none;
    }

    .adminNav>li:hover ul{
    display:block;
    }
    
	table th {
	text-align: center;
	}
	
	.form-control-plaintext, .thumbnailInput{
	border:0 solid black;
	}
	
	.form-control-plaintext-range{
	width: 350px;
	}
	
	.col-sm-8-range{
	display: flex;
	}
	
	.paging_1, .paging_1 > li{
	display: inline-block;
	padding: 0;

	}
	
	.paging_1 li a{
	font-size: 1.4em;
	margin: 3px;
	}
	
	.page-paging{
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	.svg-inline--fa {
    font-size: 1.4em;
    }
    
    .page-paging > span{
    margin: 3px;
    }
    
    .now{
    font-size: 1.5em;
    font-weight: bold;
    margin: 3px;
    color: red;
    }
    
    .searchWrab{
    display: flex;
    justify-content: center;
    }
    
    td.admin_table_tdLabel{
    text-align: center;
    }
    
    #admin_product_cont1, #admin_product_cont2, #admin_product_cont3{
    border: 0px solid white;
    width: 650px;
    }

    textarea:focus{
    color: black;
    }
    
    .adminPdContTitle1{
    text-align: left;
    width: 650px;
    margin-bottom: 10px;
    }
    
    .admin_userTopBtn{
    width:920px;
    text-align: right;
    margin-bottom: 10px;
    }
    
    .adminPdContTopWrab{
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin-left: 19px;
    margin-bottom: 10px;
    }
    
    .adminPdContFirstWrab{
    display: flex;
    justify-content: center;
    }
    
    .adminPdContSecondWrab{
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin-top: 15px;
    }
    
    .adminPdContThirdWrab{
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin-top: 7px;
    }
    
    .col-form-label-1{
    width: 100px;
    padding-right: 0px;
    text-align: right;
    }
    .col-form-label-2{
    width: 50px;
    padding-right: 0px;
    }
    .col-form-label-3{
    width: 90px;
    padding-right: 0px;
    }
    .col-form-label-3-2{
    width: 55px;
    padding-right: 0px;
    }
    
    .btn.btn-primary-2{
    --bs-btn-padding-y: .30rem;
    --bs-btn-padding-x: .7rem;
    --bs-btn-font-size: .75rem;
    --bs-btn-border-color: gray;
    }
    
    .mb-3.row{
    flex-wrap: nowrap;
    }
    
    .adminUserContBtnWrab{
    width:60%;
    display: flex;
    justify-content: space-around;
    }
    
    
    .admin_sub_cont_imgWrab{
	display: flex;
	width: 80%;
	justify-content: space-around;
	}

	.form-control-subCont{
	background-color: white;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	}
	
	.admin_sub_cont_imgWrab{
	display: flex;
	width: 80%;
	justify-content: space-around;
	}
	
	
	 .event_wrap {
 	width: 80%;
 	height: 15%;
 	margin : 10px auto;
 	position: relative;
 	}

.event_wrap > img {

	width: 100%;
	height: 20vw;
	vertical-align: middle;
	object-fit: cover;
	overflow:hidden;
	border-radius: 15px;
}

 .event_text { 
 	position: absolute; 
 	top: 40%; 
 	left: 50%; 
 	transform: translate(-50%, -50%); 
 	font-size: 4vw;; 
 	font-weight: bold; 
 	color: white; 
 	text-align: left; 
 } 
	
	
	
	
	#event {
	min-height: 100%;
}

.title {
	margin-top: 30px;
	font-size: 3em;
	font-family: 'yg-jalnan';
}

#event_center {
	display: flex;
	flex-direction: column;
}

.event_span {
	margin-top: 20px;
	margin-bottom: 50px;
}

.event_wrap {
	margin-bottom: 30px;
}

.event_img {
	width: 70%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.admin_event1Wrap {
	display: flex;
}

.admin_event_cont1Wrap {
	flex-grow: 1;
	width: 55%;
	border-bottom: 0.1px solid lightgray;
	padding: 6rem 4rem 6rem 4rem;
}

.admin_event_file1Wrap {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 0;
	width: 45%;
}

.admin_event_file1 {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
}

/*  */
.admin_event2Wrap {
	display: flex;
	flex-direction: row-reverse;
}

.admin_event_cont2Wrap {
	flex-grow: 1;
	width: 60%;
	border-bottom: 0.05px solid lightgray;
	padding: 6rem 4rem 6rem 4rem;
}

.admin_event_file2Wrap {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 0;
	width: 40%;
}

.admin_event_file2 {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
}

/*  */
.admin_event3Wrap {
	display: flex;
}

.admin_event_cont3Wrap {
	flex-grow: 1;
	width: 60%;
	border-bottom: 0.05px solid lightgray;
	padding: 6rem 4rem 6rem 4rem;
}

.admin_event_file3Wrap {
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 0;
	width: 40%;
}

.admin_event_file3 {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
}

.admin_event3In {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn.btn-light-eventItemBtn {
	width: 120px;
	font-size: 1.5em;
	border: 1px solid gray;
}

.btn.btn-light_admin_sub_mainBtn{
border: 0.5px solid lightgray;
}


.adminSubItemInputBtn{
font-size: 1.3em;
font-weight: bold;
border: 0.5px solid gray;
padding: 9px;
border-radius: 3px;
}

.adminSubItemInputBtn2{
font-size: 1.3em;
font-weight: bold;
border: 0.5px solid gray;
padding: 9px;
border-radius: 3px;
}

.adminSubItemInputBtn3{
font-size: 1.3em;
font-weight: bold;
border: 0.5px solid gray;
padding: 9px;
border-radius: 3px;
}

.admin_sub_inputLabel{
width: 90px;
margin: auto;
}

.admin_sub_input{
width: 200px
}

#sub_item1, #sub_item2, #sub_item3{
width: 140px;
}

.admin_sub_insert_select_wrab{
display: flex;
}






@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
	@font-face {
	    font-family: 'ChosunCentennial';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;

	}
	
	font-family: 'ChosunCentennial', sans-serif;
	font-family: Noto Sans;