@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
	margin: 0;
}

.header_wrap {
	box-sizing: border-box;
	background-color: #fff;
	font-weight: bold;
	font-size: 1em;
	
	display: flex; 
	width:100%;
	align-items: center;
	height: 20%;
	border-bottom: 1px solid #C6C6C6;
}

.header_wrap > li {
	display: inline-block;
	list-style: none;
	width: 8%;
	vertical-align: middle;
	font-size: 1.5em;
	margin-bottom: 10px;
	font-family: '조선 100년체', sans-serif;
	color: #595959;
}

.header_wrap > .login {
	
}

.header_wrap > .none {
	width: 50%;
}
