@charset "UTF-8";

#footer{
	border-top: 1px solid #e0e0e0;
	padding: 30px;
	padding-left: 10%;
	box-sizing: border-box;
}

.footer_title {
	margin-bottom: 10px;
}

.footer_title > h3 {
	font-size: 20px;
}

.footer_title > p {
	font-size: 12px;
}

.footer_info {
	margin-bottom: 10px;
}

.footer_info > p {
	font-size: 16px;
}

.footer_terms {
	color : #d9d9d9;
}
