@charset "UTF-8";
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#footer{
	border-top: 1px solid #e0e0e0;
	padding: 30px;
	padding-left: 10%;
	box-sizing: border-box;
	height: 200px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.footer_title {
	margin-bottom: 10px;
}

.footer_title > h3 {
	font-size: 20px;
}

.footer_title > p {
	font-size: 12px;
}

.footer_info {
	margin-bottom: 10px;
}

.footer_info > p {
	font-size: 16px;
}

.footer_terms {
	color : #d9d9d9;
}


