@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap%27');

@font-face {
    font-family: 'dimibang_new';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/dimibang_new.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

.main {
	width: 100%;
	height: auto;
	background: rgba(255,255,255,1);
}

ul {
	list-style: none;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(112, 112, 112);
	opacity: 0.8;
}

.carousel-inner > div > a:hover {
	opacity: 1;
}

.category {
 	font-family: dimibang_new;
	width: 100%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.category > ul {
	display: flex;
	width: 45%;
	margin-left: auto;
	margin-right: auto
}

.category > ul > li{
	text-align: center;
	width: 25%;
	display: inline-block;
}

.text{
	font-size: 2rem;
}

hr {
	color: #C6C6C6;
	background-color: #C6C6C6;
	margin-bottom: 5%;
}

.data_grid {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
}

.product {
	box-sizing: border-box;
	margin-bottom: 50px;
	padding-left: 16px;
	padding-top: 16px;
	flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
}

.product_wrap {
	box-sizing: border-box;
	width: 100%;
}

.img_wrap {
	width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 65%;
}

.img_wrap > span {
	sbox-sizing: border-box; 
	display: block; 
	overflow: hidden; 
	width: initial; 
	height: initial; 
	background: none; 
	opacity: 1; 
	border: 0px; 
	margin: 0px; 
	padding: 0px; 
	position: relative;
}

.img_wrap > img {
	position: absolute; 
	box-sizing: border-box; 
	padding: 0px; 
	border: none; 
	margin: auto; 
	display: block; 
}

.soldout {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    border-radius: inherit;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soldout_title {
	font-size: 2rem;
	line-height: 24px;
}

.margin_box {
	margin-top: 20px;
}

.soldout_cont {
	font-size: 1.4rem;
	line-height: 20px;
}

.content_wrap {
    display: flex;
    flex-direction: column;
}

.wrapper {
	box-sizing: border-box;
}

.content_title {
	margin-top: 15px;
	height: 41px;
    font-size: 1.1rem;
    color: rgb(62, 62, 62);
    font-weight: bold;
    text-align: left;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content_price {
	color: rgb(62, 62, 62);
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    line-height: 15px;
}

.content_price_blank {
	height: 15px;
    margin-bottom: 5px;
    color: rgb(178, 178, 178);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 14px;
}

.content_price_wrap {
	height: 26px;
    display: flex;
    align-items: flex-end;
}

.content_price_wrap > p > span{
	font-size: 12px;
    line-height: 12px;
}

.content_review {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.content_review img {
	box-sizing: border-box;
	height: 12px;
}

.content_score {
	font-size: 13px;
    color: rgb(62, 62, 62);
    margin: 0px 8.4px 0px 5px;
}

.content_column_line {
	width: 0.8px;
    height: 18px;
    background-color: rgb(235, 235, 235);
}

.review {
	font-size: 12px;
    font-weight: normal;
    margin-left: 6.6px;
    color: rgb(112, 112, 112);
}

.card_footer {
	box-sizing: border-box;
	border-top: 0.5px solid rgb(235, 235, 235);
    padding-top: 8px;
    font-weight: bold;
}

.footer_content {
	display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: normal;
    color: rgb(112, 112, 112);
    text-align: left;
}

.best_wrap {
	width:100%;
	max-width: 1200px;
	margin : 50px auto 100px;
	text-align: center;
	font-weight: bold;	
}

.best_choice {
	display: flex;
	font-weight: 700px;
}

.best_logo {
	margin-top: 1%;
}

.best_title{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 2.5%;
}
.best_introduse1{
	width:100%;
	font-family: dimibang_new;
	font-size: 2rem;
	margin-left: 5%;
	margin-bottom: 2.5%;
}

.best_introduse2{
	width:100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5rem;
	color: #FFD600;
	margin-left: 5%;
}

.best_product{
	margin-top: 2.5%;
	width: 25%;
}

.more {
	-webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-end;
}

.slider_bar {
	margin-top: 50px;
	box-sizing: border-box;
}

.best_product_content {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: left;
	width: 85%;
    margin-left: auto;
	margin-right: auto;
}

.best_product_name {
	font-size: 1.5rem;
	height: 6vh;
}

.best_product_pr{
	display: flex;
	flex-direction: column;
}

.best_product_price{
	line-height: 6vh;
}

.best_product_coment{
	display: flex;
	flex-direction: column;
	font-size: 13px;
    font-weight: normal;
    color: rgb(112, 112, 112);
}

.review_wrap {
	width:100%;
	max-width: 1200px;
	margin : 50px auto 100px;
	text-align: center;
	font-weight: bold;	
}

.review_choice {
	display: flex;
	font-weight: 700px;
}

.review_logo {
	margin-top: 1%;
}

.review_title{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 2.5%;
}
.review_introduse1{
	width:100%;
	font-family: dimibang_new;
	font-size: 2rem;
	margin-left: 5%;
	margin-bottom: 2.5%;
}

.review_introduse2{
	width:100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5rem;
	color: #FFD600;
	margin-left: 5%;
}

.review_product{
	margin-top: 2.5%;
	width: 25%;
}

.review_product_content {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: left;
	width: 85%;
    margin-left: auto;
	margin-right: auto;
}

.review_product_name {
	font-size: 1.5rem;
	height: 6vh;
}

.review_product_pr{
	display: flex;
	flex-direction: column;
}

.review_product_price{
	line-height: 6vh;
}

.review_product_coment{
	display: flex;
	flex-direction: column;
	font-size: 13px;
    font-weight: normal;
    color: rgb(112, 112, 112);
}

.photoreview_wrap {
    width: 1144px;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
}

.photoreview_wrap > img {
	width: 40px;
    height: 40px;
}

.review_headtitle {
	font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(255, 186, 0);
    line-height: 1.14;
}

.review_maintitle {
	margin-top: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(62, 62, 62);
    line-height: 1.11;
}

.photoreview_list {
	position: relative;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 60%;
}

.photoreview_content {
    height: 80%;
    min-height: 1px;
    outline: none;
    width: 333px;
    box-sizing: border-box;
}

.photoreview_card > div > span {
	box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.photoreview_card > div > span > img {
	border-radius: 10px;
    box-sizing: border-box;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.photoreview_card {
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.photoreview_card_content {
	margin-top: 20px;
	box-sizing: border-box;
	align-content: center;
}

.star-ratings {
	margin: 0px auto;
	color: #ddd; 
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: rgb(254, 185, 74);
}
 
.star-ratings-fill {
	color: red;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: rgb(254, 185, 74);
}
 
.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.cont {
	width: 270px;
    height: 40px;
    font-size: 0.8rem;
    color: rgb(112, 112, 112);
    line-height: 2;
    font-weight: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
}

.photoreview_card_footer {
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}

