@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap%27');

@font-face {
    font-family: 'dimibang_new';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/dimibang_new.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input {
	display: none;
}

div {
	display: block;
}

.main {
	width: 100%;
	height: auto;
	background: rgba(255,255,255,1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
	list-style: none;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

.header_menu {
 	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
	margin: 0px auto;
	padding: 0px 20%;
	border-bottom: 3px 5px solid rgb(243, 243, 243);
	box-sizing: border-box;
}

.header_menu > ul {
	min-width: 280px;
	height: 50px;
	display: flex;
	align-items: baseline;
    margin: 0px auto;
    justify-content: flex-start;
}

.header_menu > ul > li{
	align-items: center;
	text-align: center;
	display: inline-block;
	height: 100%;
	padding-top: 0.7%;
	padding-right: 3%;
}

span {
	font-weight: bold;
	font-size: 1rem;
}

.select_label {
	color: rgb(255, 186, 0);
}

.select_underbar{
	background-color: rgb(244, 187, 95);
    border: 1px solid rgb(244, 187, 95);
}

.label {
	color: rgb(112, 112, 112);
}

.header_img_wrap {
	padding: 30px 250px;
	min-width: 500px;
}

.header_category_cont{
	max-width: 75%;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    margin: 0px auto;
    padding: 32px 40px;
    border-radius: 10px;
    color: rgb(112, 112, 112);
    text-align: left;
}

.category_title {
	font-size: 1.5rem;
    font-weight: bold;
    color: rgb(62, 62, 62);
    line-height: 1.1;
}

.category_cont {
	font-size: 1.0rem;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(112, 112, 112);
}

.category_logo {
	width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.content_tag_wrap {
	padding: 40px 0px;
	box-sizing: border-box;
}

.content_filter {
	min-width: 887px;
	padding: 0px 69px;
	width: 100%;
    border-bottom: 10px solid rgb(241, 241, 241);
    font-weight: normal;
    font-size: 13px;
    color: rgb(62, 62, 62);
    box-sizing: border-box;
}

.content_filter_wrap {
	width: 100%;
    max-width: 1144px;
    margin: 0px auto;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.filter_button_group {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.container {
	position: relative;
	box-sizing: border-box;
}

.container > button {
	height: 40px;
    padding: 12px 12.7px 11px 10px;
    border: 1px solid rgb(244, 244, 244);
    margin-right: 15px;
    white-space: nowrap;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
}

.container > button > span {
	pointer-events: none;
	color: rgb(112, 112, 112);
    font-size: 1rem;
    font-weight: bold;
    margin-right: 30px;
    box-sizing: border-box;
}

.container > img {
	pointer-events: none;
	box-sizing: border-box;
}

.filter {
	color: rgb(112, 112, 112);
    font-size: 13px;
    font-weight: normal;
    margin-right: 30px;
}

.container > .flex {
	display: flex
}

.filter_check {
	width: 350px;
    padding: 15px 20px 0px;
    position: absolute;
    top: 50px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    display: none;
    box-sizing: border-box;
}

.check_grid {
	box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.grid_item {
        flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}

.check-box_filter {
	display: flex;
	margin-bottom: 22px;
	box-sizing: border-box;
}

.check_button {
    margin-left: 15px;
    box-sizing: border-box;
}

.check-wrap {
	box-sizing: border-box;
}

.check-wrap > button {
	padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.custom_checkbox {
	padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.check-box_filter > div > label > span > img {
	width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.custom_checkbox > img {
	width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.check-box_filter > div > label > span {
	font-size: 0.9rem;
	margin-left: 15px;
	box-sizing: border-box;
}

.content_product_list {
	padding: 0px 69px;
	width: 100%;
}

.content_product_wrap {
	width: 100%;
    max-width: 1144px;
    margin: 0px auto;
}

.content_list_wrap {
	box-sizing: border-box;
}

.infinite_scroll_component {
	box-sizing: border-box;
	height: auto;
}

.data_header {
	margin-bottom: 25px;
	box-sizing: border-box;
}

.data_header > .flex {
	display: flex;
}

.data_header > .wrapper {
	width: 100%;
    min-height: 27.5px;
    margin: 25px 0px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(62, 62, 62);
    box-sizing: border-box;
}

.data_grid {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
}

.product {
	box-sizing: border-box;
	margin-bottom: 50px;
	padding-left: 16px;
	padding-top: 16px;
	flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
}

.product_wrap {
	box-sizing: border-box;
	width: 100%;
}

.img_wrap {
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.img_wrap > span {
	sbox-sizing: border-box; 
	display: block; 
	overflow: hidden; 
	width: initial; 
	height: initial; 
	background: none; 
	opacity: 1; 
	border: 0px; 
	margin: 0px; 
	padding: 0px; 
	position: relative;"
}

.img_wrap > img {
	position: absolute; 
	box-sizing: border-box; 
	padding: 0px; 
	border: none; 
	margin: auto; 
	display: block; 
}

.content_wrap {
    display: flex;
    flex-direction: column;
}

.wrapper {
	box-sizing: border-box;
}

.content_title {
	height: 41px;
    font-size: 1.5rem;
    color: rgb(62, 62, 62);
    font-weight: bold;
    text-align: left;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content_price {
	color: rgb(62, 62, 62);
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    line-height: 15px;
}

.content_price_blank {
	height: 15px;
    margin-bottom: 5px;
    color: rgb(178, 178, 178);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 14px;
}

.content_price_wrap {
	height: 26px;
    display: flex;
    align-items: flex-end;
}

.content_price_wrap > p > span{
	font-size: 12px;
    line-height: 12px;
}

.content_review {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.content_review img {
	box-sizing: border-box;
	height: 12px;
}

.content_score {
	font-size: 13px;
    color: rgb(62, 62, 62);
    margin: 0px 8.4px 0px 5px;
}

.content_column_line {
	width: 0.8px;
    height: 18px;
    background-color: rgb(235, 235, 235);
}

.review {
	font-size: 12px;
    font-weight: normal;
    margin-left: 6.6px;
    color: rgb(112, 112, 112);
}

.card_footer {
	box-sizing: border-box;
	border-top: 0.5px solid rgb(235, 235, 235);
    padding-top: 8px;
    font-weight: bold;
}

.footer_content {
	display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: normal;
    color: rgb(112, 112, 112);
    text-align: left;
}