@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@font-face {
	font-family: 'ChosunCentennial';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	img {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

.productContentWrap {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}

.picture_1 {
	display: inline-block;
}

.picture_1 img {
	max-width: 400px;
	max-height: 520px;
	margin-top: 10%;
	display: table-cell;
	vertical-align: middle;
}

.product_cont {
	display: inline-block;
	margin-top: 2.5%;
	margin-left: 5%;
}

.name {
	font-family: 'ChosunCentennial', sans-serif;
	font-weight: Regular;
	font-size: 30px;
	width: 55px;
}

.ex_box {
	width: 442px;
	height: 127px;
	background: rgba(217, 217, 217, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	padding: 3%;
	padding-left: 5%;
	margin-bottom: 4%;
}

.sub_ex {
	width: 422px;
	height: 25px;
	left: 4%;
	top: 12%;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: bolder;
	font-size: 18px;
	line-height: 25px;
	display: block;
}

.ssub_ex {
	width: 208px;
	height: 25px;
	left: 4%;
	top: 33%;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	display: block;
}

.price_w {
	width: 300px;
	color: rgba(0, 0, 0, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 20px;
	margin-top: 3%;
	display: block;
}

.price {
	width: 100%;
	color: rgba(0, 0, 0, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 23px;
	opacity: 1;
	line-height: 31px;
	display: block;
	letter-spacing: 1px;
}

.first {
	width: 471px;
	height: 0px;
	border: 1px solid black;
	margin-bottom: 5%;
}

.su {
	width: 55px;
	font-family: 'ChosunCentennial', sans-serif;
	font-size: 30px;
	display: inline-block;
}

.total_price_w {
	width: 100%;
	font-family: 'ChosunCentennial', sans-serif;
	font-size: 30px;
	display: block;
}

.total_price {
	height: 42px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    padding-top: 2.5%;
}

.p_price, .won {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    border: 0px;
    background-color: #f7f7f7;
    text-align: right;
}

.buybtn {
	margin-top: 4%;
	width: 192px;
	height: 81px;
	background: #D9D9D9;
	border-radius: 5px;
	font-family: 'Noto Sans';
	font-size: 23px;
}

.buybtn:hover {
	margin-top: 4%;
	width: 192px;
	height: 81px;
	background: #D9D9D9;
	border-radius: 5px;
	font-family: 'Noto Sans';
	font-size: 23px;
	background-color: rgb(255, 186, 0);
}

.cartbtn {
	margin-top: 4%;
	margin-left: 17%;
	width: 192px;
	height: 81px;
	background: #D9D9D9;
	border-radius: 5px;
	font-family: 'Noto Sans';
	font-size: 23px;
}

.cartbtn:hover {
	margin-top: 4%;
	margin-left: 17%;
	width: 192px;
	height: 81px;
	background: #D9D9D9;
	border-radius: 5px;
	font-family: 'Noto Sans';
	font-size: 23px;
	background-color: rgb(255, 186, 0);
}

.second {
	width: 75%;
	border: 1px solid black;
	margin-top: 3%;
}

.picture_2 {
	text-align: center;
	display: table;
	display: table-cell;
	vertical-align: middle;
}

.picture_2 img {
	max-width: 800px;
	max-height: 500px;
	margin: 2%;
	display: block;
}

.cont1 {
	font-size: 1.5em;
	display: block;
}

#sub_cont1, #sub_cont2, #sub_cont3{
    resize: none;
    border: 0px solid white;
    width: 700px;
    }
    
    textarea:focus{
    color: black;
    }

#my_div span {
	display: flex;
	justify-content: center;
}

.btn {
	padding: 0;
	width: 75px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgb(178, 178, 178);
	background-color: #efefef;
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 12px;
}

.btn1 {
	padding: 0;
	width: 75px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgb(178, 178, 178);
	background-color: #efefef;
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 12px;
}

.minus {
	width: 50px;
	height: 35px;
	background: rgba(217, 217, 217, 0.5);
	padding: 0;
	margin-left: 5%;
	display: inline-block;
	border: 0;
	margin-bottom: 2%;
}

.plus {
	width: 50px;
	height: 35px;
	background: rgba(217, 217, 217, 0.5);
	padding: 0;
	display: inline-block;
	border: 0;
	margin-bottom: 2%;
}

.numBox {
	width: 50px;
	height: 35px;
	background: rgba(217, 217, 217, 0.5);
	font-size: 20px;
	padding: 0;
	padding-left: 4%;
	border: 0px;
	display: inline-block;
	margin-bottom: 2%;
}

.tabs {
	margin-bottom: 3%;
}

.tabs ul li {
	float: left;
	padding-top: 0.4%;
	width: 75px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgb(178, 178, 178);
	background-color: #efefef;
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 12px;
	margin-left: 3%;
}

.tabs li a:hover:not(.tab-button-outer) {
color: black;
}

#tab-button {
	margin-left: 20%;
}

.tab-contents {
	margin-top: 1%;
}

.change_cont {
	margin-left: 76%;
	width: 100%;
	margin-top: 7%;
}

.t {
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 20px;
	font-weight: 700;
}

.st {
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 15px;
	font-weight: 600;
}

.b {
	font-family: 'Noto Sans';
	font-style: normal;
	font-size: 15px;
	font-weight: 700;
	color: #23abf9;
}

.review_top {
	display: flex;
    justify-content: space-between;
    width: 55.5%;
    background-color: #F4F4F4;
    padding: 15px;
    border-radius: 10px;
}

.review_info_product_name {
    font-weight: bold;
    font-size: 1.2em;
}