@charset "UTF-8";

.event_banner {
	background-image: url("../../image/event1.png");
	height: 400px;
	display: none;
	background-size: cover;
	background-position: center;
}

.event_title {
	display: none;
	position: relative;
	top:45%;
	left: -500px;
	font-size: 3em;
	color: #fff;
	text-shadow: #595959 2px 2px 2px;
}

.event_banner2{
	display: flex;	
	height: 400px;
	align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event_icon {
	width:200px;
	height: 200px;
	position: relative;
	vertical-align: middle;
}