@charset "UTF-8";

main{
	height: auto;
}

#mypage {
	height: auto;
}

#mypage_wrap{
	padding: 3%;
	height: auto;
}

.mypage_loading{
	position: absolute;
	top:50%;
	height: 40%;
	width: 50%;
	height: 50%;
	display: none;

}

#mypage_select > div > span {
	display: block;
}

/* 마이페이지 카테고리 css ===============================================================================================*/

#mypage_category{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	height: 12%;
	width: 70%;
	display: flex;
	align-items: center;
	margin-bottom: 2%;
	
}

#mypage_category_user {
	width:30%;
	height: 50%;
	border-right: 1px solid black;
	font-size: 1.5em;
	display:flex;
	align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mypage_user_name {
	display: inline-block;
}

.mypage_user_name > span {
	font-size: 14px;
}

.mypage_user_point {
	display: inline-block;
	font-size: 1em;
}

.mypage_user_point > span {
	font-size: 14px;
}

#mypage_select{
	display: flex;
	width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.mypage_icon {
	width: 42px;
	height: 42px;
}

#mypage_content {
	margin-bottom: 10px;
	height: auto;
}

.mypage_loading{
}

/* 구독관리 css ===============================================================================================*/

#mypage_sub_wrap{
	height: auto;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

.mypage_sub_info{
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 100%;
}

.mypage_sub_packagename{
	font-size: 1.3em;	
	margin-bottom: 1%;
}

.sub_packagename {
	display: block;
	font-size: 1.5em;
}

.mypage_sub_date{
	margin-bottom: 1%;
	font-size: 1.4em;
	margin-top: 3%;
}

.mypage_sub_date > span{
	font-size: 12px;
	display: block;
}

.sub_package{
	height: auto;
    width: 80%;
    padding: 3%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: #FEF7F1;
    border-radius: 20px;
    align-self: center;
}

.package_name{
	font-size: 1.3em;
    font-weight: bold;
}


.sub_drinks {
	display:flex;
	justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

.sub_drink{
	display: flex;
    flex-direction: column;
    width: 20%;
}

.drink1{
	width: 100%;
	margin-bottom: 10px;
}

	/* 구독이 없을 시 */
	#none_sub {
		height: 75%;
		width: 70%;
		border: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	#none_sub_title {
		text-align: center;
		font-size: 3em;
	}
	
/* 주문 내역 건수 css ===============================================================================================*/

.order_category_all {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
    background-color: skyblue;
    padding: 20px 10px;
    border-radius: 10px;
}

#order_info_date{
	text-align: left;
	width: 100%;
}

#order_info_alchol{
	margin-left: 10px;
}

#order_info_amount{
	margin-left: 10px;
}

#order_info_date > span{
	display: inline-block;
	margin-right: 70%;
}

.order_info_status{
	display: inline-block;
	text-align: right;
}


.order_title{
	font-size:1.2em;
	font-weight: bold;
}

.order_count{
	font-size:12px;
}

.order_count > span{
	font-size:1.2em;
	font-weight: bold;
}


/* 주문 내역 css ===============================================================================================*/


.order_main_wrap{
	border-radius: 10px;
    border: 1px solid;
    padding: 2%;
    width: 67%;
}

#order_wrap {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

#order_info {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    width: 100%;
    padding: 20px;
    line-height: 30px;
}

#order_image {
	width: 15%;	
}

.order_thumbnail{
	width: 100%;
    height: auto;
}

#order_info_price{
	font-size: 1.2em;
}

#order_info_title{
	font-size: 1.5em;
    font-weight: bold;
}

#order_info_price{
	font-size: 1.5em;
}


/* 유저(개인) 정보 css ===============================================================================================*/

.user_main.wrap {
	display: flex;
    flex-direction: column;
    align-items: center;
}    

.user_info_top > hr {
	width: 60%;
	border: 1px solid #FFDEA8;
}

.user_info_middle{
	display: flex;
    flex-direction: row;
    width: 60%;
    padding: 10px;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.user_modify_btn{
	width: 5%;
    font-size: 1.2em;
    text-align: right;
    width: 55%;
    color: #FFDEA8;
}

.user_title {
	font-size: 1.3em;
    margin-bottom: 10px;
}

.user_info_middle_left {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user_info_middle_left > div {
    font-size: 1.2em;
    height: 50px;
    padding: 10px;
}

.user_info_middle_right {
    font-size: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user_info_middle_right > div {
	border:0;
	font-size:1em;
	width: 100%;
	height: 50px;
	padding: 10px;
}	

.user_info_middle_right > div > input {
	white-space: nowrap;
	border: 0;
	text-align: right;
	padding: 0;
}

.user_phone > input {
	width: 40px;
}

.user_info_bottom{
	display: flex;
    justify-content: flex-end;
    width: 60%;
    flex-direction: column;
    align-items: flex-end;
}

.user_info_bottom > div {
    font-size: 1.2em;
    text-align: right;
    color: #FFDEA8;
    font-weight: bold;
}

#user_modal {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.user_modal_body{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 40%;
	  padding: 20px;
	  text-align: center;
	  background-color: rgb(255, 255, 255);
	  border-radius: 10px;
	  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	  transform: translateX(-50%) translateY(-50%);
}

.user_delete_title{
	font-size: 2em;
    margin-bottom: 20px;
}


.user_delete_rule{
	display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.delete_rule{
	display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.delete_rule_number{
	margin-right: 5px;
}

.delete_rule_cont{
	text-align: left;
	width: 80%;
}

#user_delete_form{
	margin: 20px;
}

.user_check{
	width: 60%;
    background-color: white;
}

.review_submit{
	margin-top: 20px;
}

.user_submit{
	margin-top: 25px;
}

.user_submit:disabled {
	background-color: red;
	color: white;
	cursor: not-allowed;
}

/* 리뷰 css ===============================================================================================*/

.review_goBtn{
	border-radius: 10px;
    background-color: #0097F3;
    color: white;
    cursor: pointer;
	margin-top: 10%;
}

.star {
    position: relative;
    font-size: 2rem;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: rgba(250, 208, 0, 0.99);
    overflow: hidden;
    pointer-events: none;
  }
  
  .review_submit{
  	width: 20%;
  }

#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

#modal {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#review_form{
	display: flex;
    flex-direction: column;
}

.review_select {
	margin-bottom: 30px;
	font-size: 1.5em;
}


.review_content{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.review_cont{
	resize: none;
	margin-bottom: 20px;
}

.review_files{
	display: flex;
	width: 70%;
	margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
}

.review_insert_star {
	margin-bottom: 30px;
}

.review_file{
	padding: 10px;
	height: 10%;
}

.review_file > label {
  display: inline-block;
  padding: .5em .75em;
  color: #337AB7;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f7f7f7;
  cursor: pointer;
  border: 1px solid #f7f7f7;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.review_file > label:hover{
	background-color: #337AB7;
	color: #f7f7f7;
}

.review_file input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.review_preview{
	width: 50px;
    height: 50px;
}

#preview {
	width: 100%; 
	height: 100%;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.review_info_star-rating {
	margin: 0px auto;
	color: #ddd; 
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: rgb(254, 185, 74);
}
 
.star-ratings-fill {
	color: red;
	padding: 0;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	-webkit-text-fill-color: rgb(254, 185, 74);
}
 
.star-ratings-base {
	z-index: 0;
	padding: 0;
	/* position: absolute;
    bottom: 1;
    left: 7px; */
}
	
.review_wrap{
	display: flex;
    width: 70%;
    margin-bottom: 2%;
}

.review_info{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    align-items: center;
    
}

.review_info_top{
	display: flex;
	justify-content: space-between;
    width: 85%;
    background-color: #F4F4F4;
    padding: 15px 20px;
    border-radius: 10px;
}

.review_info_bottom{
	width: 80%;
}

.review_info_top_right{
	display: flex;
}

.review_info_top_left{
	display: flex;
}

.review_info_date{
	margin-left: 20px;
}

.review_info_cont{
	padding: 20 0;
}

.review_info_cont > textarea{
	border: 0;
}

.review_image{
	height: 100px;
}

.review_info_product_name{
	font-weight: bold;
    font-size: 1.2em;
}

/* 배송지 등록 css ======================================================================================================*/

#delivery_modal{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#delivery_modal_body{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 40%;
	  padding: 20px;
	  text-align: center;
	  background-color: rgb(255, 255, 255);
	  border-radius: 10px;
	  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	  transform: translateX(-50%) translateY(-50%);
}