@charset "UTF-8";

#mypage {
	height: 100%;
}

#mypage_wrap{
	padding: 3%;
}

/*마이페이지 카테고리 css*/

#mypage_category{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	height: 12%;
	width: 70%;
	display: flex;
	align-items: center;
	margin-bottom: 2%;
	
}

#mypage_user {
	width:30%;
	height: 50%;
	border-right: 1px solid black;
	font-size: 1.5em;
	display:flex;
	align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mypage_name {
	display: inline-block;
}

.mypage_name > span {
	font-size: 14px;
}

.mypage_point {
	display: inline-block;
	font-size: 1em;
}

.mypage_point > span {
	font-size: 14px;
}

#mypage_select{
	display: flex;
	width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.mypage_icon {
	width: 42px;
	height: 42px;
}

#mypage_content {
	margin-bottom: 10px;
}

/* 구독관리 컨텐츠 css */

#mypage_sub_wrap{
	height: 70%;
	width: 70%;
	display: flex;
	align-items: center;
	
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}
.mypage_sub_packagename{
	font-size: 1.5em;	
}
.mypage_sub_pacakge_image{
	
}
.sub_image{
	width: 60%;
}

.mypage_sub_info{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage_sub_startdate{
	display: inline-block;
}
.mypage_sub_enddate{
	display: inline-block;
}

.sub_packagename {
	display: block;
}

.sub_drinks {
	display:flex;
	justify-content: space-evenly;
    align-items: center;
}

.sub_drink{
	display: flex;
    flex-direction: column;
    width: 20%;
}

.drink1{
	width: 100%;
}
    
.mypage_sub_infoNpackage{
	display: flex;
    flex-direction: column;
    align-items: center;
}
    

