@charset "UTF-8";
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Chosun+Centennial&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet" />
</head>
<body>
<div class="v135_138">
<div class="name">
</div>
<div class="v135_151">
</div>
<span class="v135_156">총 상품 가격</span><
span class="v135_167">수량</span>
<span class="v135_154">이름</span>
<div class="v135_153"></div>
<div class="v135_157"></div>
<div class="v135_175"></div>
<span class="v135_176">바로 구매</span>
<span class="v135_177">장바구니</span>
<div class="v135_158"></div>
<div class="v135_159"></div>
<span class="v135_161">#술 설명 # 해시태그 어쩌고</span>
<span class="v135_162">판매가격:</span>
<span class="v135_165">00,000원</span>
<span class="v135_164">주종 : 00주류
도수 : 00도
용량 : 000ml</span>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<span class="v135_168">0원</span>
<div class="name"></div>
<div class="name"></div>
<span class="v135_171">1</span>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="v135_179"></div>
<div class="v135_181"></div>
<span class="v135_180">상품 설명(상품마다 다름)</span>
<span class="v135_183">교환 / 반품 문의
*추후 작성 예정이므로 
빈 div만</span>
<div class="v135_185"></div>
<span class="v135_186">리 뷰</span>
<div class="v135_198"><div class="v135_187">
</div><span class="v135_188">닉네임</span><
span class="v135_196">구매한 술의 이름</span>
<span class="v135_195">리뷰 작성일</span>
<div class="v135_189"><div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div></div></div>
<div class="v135_199">
<div class="v135_200"></div>
<span class="v135_201">닉네임</span>
<span class="v135_202">구매한 술의 이름</span>
<span class="v135_203">리뷰 작성일</span>
<div class="v135_204"><div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
</div></div><div class="v135_210">
<div class="v135_211"></div>
<span class="v135_212">닉네임</span>
<span class="v135_213">구매한 술의 이름</span>
<span class="v135_214">리뷰 작성일</span>
<div class="v135_215">

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* .v135_138 {
  width: 100%;
  height: 2940px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
.name {
  color: #fff;
}
.pic {
  width: 500px;
  height: 600px;
  left: 410px;
  top: 137px;	
  background: rgba(217,217,217,1);
  opacity: 1;
  overflow: hidden;
}
.price {
  width: 156px;
  color: rgba(0,0,0,1);
  top: 534px;
  left: 864px;
  font-family: Chosun Centennial;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.su {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 864px;
  font-family: Chosun Centennial;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v135_154 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 864px;
  font-family: Chosun Centennial;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v135_153 {
  width: 442px;
  height: 150px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 875px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_157 {
  width: 192px;
  height: 81px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 875px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v135_175 {
  width: 192px;
  height: 81px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 1125px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v135_176 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 686px;
  left: 925px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_177 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 686px;
  left: 1178px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_158 {
  width: 132px;
  height: 26px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 943px;
  overflow: hidden;
}
.v135_159 {
  width: 442px;
  height: 42px;
  background: rgba(217,217,217,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 580px;
  left: 875px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_161 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 190px;
  left: 889px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_162 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 351px;
  left: 864px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v135_165 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 378px;
  left: 886px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_164 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 900px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v135_168 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 592px;
  left: 1094px;
  font-family: Candal;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v135_171 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 462px;
  left: 1005px;
  font-family: Candal;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v135_179 {
  width: 920px;
  height: 500px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 875px;
  left: 337px;
  overflow: hidden;
}
.v135_181 {
  width: 920px;
  height: 500px;
  background: rgba(217,217,217,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 1550px;
  left: 337px;
  border: 1px solid rgba(0,0,0,0.5);
}
.v135_180 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1425px;
  left: 699px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_183 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1578px;
  left: 678px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_185 {
  width: 179px;
  height: 60px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 2176px;
  left: 316px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v135_186 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2191px;
  left: 381px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v135_198 {
  width: 941px;
  height: 40px;
  background: url("../images/v135_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2283px;
  left: 316px;
  overflow: hidden;
}
.v135_187 {
  width: 941px;
  height: 40px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v135_188 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 64px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_196 {
  width: 98px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 11px;
  left: 566px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v135_195 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 821px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_189 {
  width: 99px;
  height: 22px;
  background: url("../images/v135_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 695px;
  overflow: hidden;
}
.v135_199 {
  width: 941px;
  height: 40px;
  background: url("../images/v135_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2464px;
  left: 316px;
  overflow: hidden;
}
.v135_200 {
  width: 941px;
  height: 40px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v135_201 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 64px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_202 {
  width: 98px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 11px;
  left: 566px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v135_203 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 821px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_204 {
  width: 99px;
  height: 22px;
  background: url("../images/v135_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 695px;
  overflow: hidden;
}
.v135_210 {
  width: 941px;
  height: 40px;
  background: url("../images/v135_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2666px;
  left: 316px;
  overflow: hidden;
}
.v135_211 {
  width: 941px;
  height: 40px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v135_212 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 64px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_213 {
  width: 98px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 11px;
  left: 566px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v135_214 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 821px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v135_215 {
  width: 99px;
  height: 22px;
  background: url("../images/v135_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 695px;
  overflow: hidden;
}
</style>