<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin_userDAO">
  
  
 	<select id="getUserCount" resultType="int">
		select count(*) from tb_user
	</select>
	
	<select id="getUserList" parameterType="PageDTO" resultType="UserDTO">
  		<![CDATA[select * from (select u.*, row_number() over(order by user_no desc) rnum from tb_user u)
		where rnum >= #{startNo} and rnum <= #{endNo}]]>
  	</select>
	
	<select id="adminUserCont" parameterType="int" resultType="UserDTO">
  		select * from tb_user where user_no = #{no}
  	</select>
	
	<update id="adminUpdateUser" parameterType="map">
		update tb_user set user_point = #{user_point} where user_no=#{user_no}
	</update>
	
	<delete id="adminUserDelete" parameterType="int">
		delete from tb_user where user_no = #{no}
	</delete>
	
	<update id="adminUserUpdateSeq" parameterType="int" >
		<![CDATA[
  			update tb_user set user_no = user_no - 1 where user_no > #{user_no}
  		]]>
	</update>
	
	<select id="getSearchUserCount" parameterType="String" resultType="int" >
		select count(*) from tb_user 
		where ((user_id like '%' || #{keyword} || '%') or 
		(user_name like '%' || #{keyword} || '%') or
		(user_no like '%' || #{keyword} || '%'))
	</select>
  
  	<select id="getSearchUserList" parameterType="hashmap" resultType="UserDTO">
  		<![CDATA[select * from (select t.*, row_number() over(order by user_no desc) rnum from tb_user t 
  		where ((user_id like '%' || #{keyword} || '%') or 
		(user_name like '%' || #{keyword} || '%') or 
		(user_email like '%' || #{keyword} || '%') or 
		(user_no like '%' || #{keyword} || '%')))
		where rnum >= ((#{Page.page} * #{Page.rowsize}) - (#{Page.rowsize} - 1)) and rnum <= #{Page.page} * #{Page.rowsize}]]>
  	</select>
  	
  	<update id="adminUserStatusChange" parameterType="int">
  		update tb_user set user_leave = 0 where user_no = #{no}
    </update>
    
    <select id="adminIngUserCount" resultType="int">
		select count(*) from tb_user where user_leave = 1
	</select>
	
    <select id="adminDelUserCount" resultType="int">
		select count(*) from tb_user where user_leave = 0
	</select>
	
	<select id="getIngUserList" parameterType="PageDTO" resultType="UserDTO">
  		<![CDATA[select * from (select u.*, row_number() over(order by user_no desc) rnum from tb_user u where user_leave=1)
		where rnum >= #{startNo} and rnum <= #{endNo}]]>
  	</select>
  	
  	<select id="getDelUserList" parameterType="PageDTO" resultType="UserDTO">
  		<![CDATA[select * from (select u.*, row_number() over(order by user_no desc) rnum from tb_user u where user_leave=0)
		where rnum >= #{startNo} and rnum <= #{endNo}]]>
  	</select>
  
  
  </mapper>