<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin_product_contentDAO">
    <update id="admin_product_content_update" parameterType="Product_contentDTO">
  		update product_content set product_file1 = #{product_file1}, 
  		product_file2 = #{product_file2}, 
  		product_file3 = #{product_file3}, 
  		product_cont1 = #{product_cont1}, 
  		product_cont2 = #{product_cont2}, 
  		product_cont3 = #{product_cont3} 
  		where product_no = #{product_no}
  	</update>
  
  
  </mapper>