<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="SubscribeDAO">
  	
  	<select id="subList" resultType="SubscribeDTO">
  	<![CDATA[
  		SELECT *
		FROM
		(
		SELECT subscribe.*, ROW_NUMBER() OVER(PARTITION BY sub_package_no ORDER BY sub_no DESC) AS SEQ
		FROM subscribe
		where sub_date < sysdate and sub_enddate > sysdate
		)
		WHERE SEQ = 1
	]]>
  	</select>
  	
  	<select id="package_price" parameterType="int" resultType="int">
  		select distinct sub_price from subscribe where sub_package_no = #{pack}
  	</select>
  
  
  
  
  
  </mapper>