<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="SubscribeDAO">
  	
  	<select id="subList" resultType="SubscribeDTO">
  	<![CDATA[
  		SELECT *
		FROM
		(
		SELECT subscribe.*, ROW_NUMBER() OVER(PARTITION BY sub_package_no ORDER BY sub_no DESC) AS SEQ
		FROM subscribe
		where sub_date < sysdate and sub_enddate > sysdate
		)
		WHERE SEQ = 1
	]]>
  	</select>
  	
  	<select id="package_price" parameterType="int" resultType="int">
  		select distinct sub_price from subscribe where sub_package_no = #{pack}
  	</select>
  	
  	<select id="admin_all_sub_list" resultType="SubscribeDTO">
  		SELECT DISTINCT 
  		sub_package_no, sub_package, sub_image, sub_date, sub_enddate, sub_price from subscribe 
  		order by sub_package_no desc
  	</select>
  	
  	
<!--   	SUB_NO -->
<!-- SUB_PACKAGE -->
<!-- SUB_DATE -->
<!-- PRODUCT_NO -->
<!-- SUB_IMAGE -->
<!-- SUB_ENDDATE -->
<!-- SUB_STATUS -->
<!-- SUB_PACKAGE_NO -->
<!-- SUB_PRICE -->
<!-- to_date(#{dto.sub_date},'YYYY/MM/DD HH24:MI:SS') -->
<!-- to_date(#{dto.sub_enddate},'YYYY/MM/DD HH24:MI:SS') -->
  	
  	
  	<select id="getSubMaxPackageNo" resultType="int">
		select nvl(max(SUB_PACKAGE_NO),0)+1 from subscribe
	</select>
  	
  	
  	<insert id="admin_sub_insert1" parameterType="map">
    insert into subscribe 
    values
        (
        (select max(sub_no) from subscribe) +1
        , #{dto.sub_package}
        , to_date(#{dto.sub_date},'YYYY/MM/DD HH24:MI:SS')
        , #{product_no1}
        , #{dto.sub_image}
        , to_date(#{dto.sub_enddate},'YYYY/MM/DD HH24:MI:SS')
        , #{dto.sub_status}
        , #{dto.sub_package_no}
        , #{dto.sub_price}
        )
	</insert>
  	
  	<insert id="admin_sub_insert2" parameterType="map">
    insert into subscribe 
    values
        (
        (select max(sub_no) from subscribe) +1
        , #{dto.sub_package}
        , to_date(#{dto.sub_date},'YYYY/MM/DD HH24:MI:SS')
        , #{product_no2}
        , #{dto.sub_image}
        , to_date(#{dto.sub_enddate},'YYYY/MM/DD HH24:MI:SS')
        , #{dto.sub_status}
        , #{dto.sub_package_no}
        , #{dto.sub_price}
        )
	</insert>
  	
  	<insert id="admin_sub_insert3" parameterType="map">
    insert into subscribe 
    values
        (
        (select max(sub_no) from subscribe) +1
        , #{dto.sub_package}
        , to_date(#{dto.sub_date},'YYYY/MM/DD HH24:MI:SS')
        , #{product_no3}
        , #{dto.sub_image}
        , to_date(#{dto.sub_enddate},'YYYY/MM/DD HH24:MI:SS')
        , #{dto.sub_status}
        , #{dto.sub_package_no}
        , #{dto.sub_price}
        )
	</insert>
  
  	<select id="admin_sub_content" resultType="SubscribeDTO">
  		select * from subscribe s join product p on s.product_no = p.product_no where sub_package_no = #{sub_package_no}
  	</select>
  
  	<update id="admin_sub_status_update" parameterType="SubscribeDTO">
  		update subscribe set sub_status = #{sub_status} where sub_package_no=#{sub_package_no}
  	</update>
  
  
  
  </mapper>